In [1]:
a = ["banana", "apple", "microsoft"]

In [4]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [6]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [7]:
# 1, 2, 3, 4
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [9]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [10]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
print(4 % 3)

1

In [12]:
print(5 % 3)

2

In [13]:
print(1 % 3)

1

In [14]:
print(6 % 3)

0

In [15]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [16]:
# Can you compute all multiples of 3, 5
# that are less than 100?
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [1]:
# join Dojogang by sub
# csdojo.io/python5
# YK from CS Dojo

In [2]:
m = list(range(1,100))
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [3]:
total = 0
for element in m:
    if element%3==0 or element%5==0:
        total = total + element
print(total)

2318

In [1]:
# Using for loop to repeat the elements in a list

In [5]:
a = ["Apple", "Banana", "Orange"]
for i in range(len(a)):
    for j in range(i + 1):
        print(a[i])

Apple
Banana
Banana
Orange
Orange
Orange

In [6]:
# adding the negative numbers in a list

In [7]:
given = [7,5,4,4,3,1,-2,-3,-5,-7]
total8 = 0
j = len(given) - 1
while given[j]<0:
    total8 = total8 + given[j]
    j = j-1
print(total8)

-17